@import "~@fortawesome/fontawesome-free/css/all.css";
.btn-lg{border-radius: 20px;}


mat-icon {

    color: orangered;
    font-size: 640%;
    width: 7rem;
    height: 7rem;

}    



.car-stil {
    width: 15rem;
    height: 17rem;
}

.bcar-padding {

    height: 10px;

}    




