<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<section style="background-color: #eee;">

    <p class="bcar-padding"></p>
    <div class="text-center container py-5">
      <h4 class="mt-4 mb-5"><strong>Manager</strong></h4>

      <div class="row text-center">
     
        <div class="col-lg-4">
        <div class="card bg-image hover-zoom ripple ripple-surface ripple-surface-light container-fluid car-stil" data-mdb-ripple-color="light" (click)=goToMashine()>
           
            <div class="card-body">

              <h5 class="card-title">Mashines</h5>
                <mat-icon>
                    router</mat-icon>
    
              <p class="card-text">Manage connected mashines to the backend.</p>
            </div>
          </div>
          <p class="bcar-padding"></p>
      </div>

          <div class="col-lg-4">
        <div class="card bg-image hover-zoom ripple ripple-surface ripple-surface-light container-fluid car-stil" data-mdb-ripple-color="light" (click)=goToBottle()>
           
            <div class="card-body">

              <h5 class="card-title">Bottles</h5>
                <mat-icon>
                    oil_barrel</mat-icon>
    
              <p class="card-text">Manage bottles of connected mashines.</p>
            </div>
        
        
        </div>
        <p class="bcar-padding"></p>
        </div>
      
        <div class="col-lg-4">
        <div class="card bg-image hover-zoom ripple ripple-surface ripple-surface-light container-fluid car-stil" data-mdb-ripple-color="light" (click)=goToCategory()>
           
            <div class="card-body">

              <h5 class="card-title">Categories</h5>
                <mat-icon>
                    account_tree</mat-icon>
    
              <p class="card-text">Manage saved beverages and categories.</p>
            </div>
        
        </div>
        <p class="bcar-padding"></p>
    </div>
    

    </div>
  
  </div>
  
</section>  
  
