<footer class="text-center fixed-bottom" style="background-color: #0a4275;">
  <!-- Grid container -->
  <div class="container p2 pb-0">
    <!-- Section: CTA -->
    <section class="small">
      <p class="d-flex justify-content-center align-items-center">
        <button type="button" class="btn btn-primary btn-lg" routerLink="/mixeddrink">
          Mix it up!
        </button>
      </p>
    </section>
    <!-- Section: CTA -->
  </div>

  <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-white" href="https://moodle.thm.de/course/view.php?id=8930">Softwaretechnik-Projekt </a>
  </div>
</footer>
